<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Спасибо за покупку!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Магазин роскошных товаров</h1>
    </header>

    <main>
        <h3>Спасибо за покупку, {{ person }}!</h3>
        <p>Вы купили {{ quantity }} товар(ов).</p>
        <p><a href="{% url 'index' %}"><button>Вернуться в главное меню</button></a></p>
    </main>
</body>
</html>
